app = "voiceci-api"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  API_PORT = "3000"
  API_HOST = "0.0.0.0"
  NODE_ENV = "production"
  DASHBOARD_URL = "https://voiceci-dashboard.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
